body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 235, 235);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
form {
    width: 300px;
    min-height: 200px;

}
form,
.box-afterLog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(77, 75, 75);
    border-radius: 20px;
    padding: 20px;
    color: white;
    margin-bottom: 50px;
    box-shadow: 2px 4px 10px black;
}

.box-afterLog{
    width: 200px;
    min-height: 80px;
}
.inputBox,
label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#email,
#pass{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 200px;
    height: 20px;
    border-radius: 7px;
    padding: 3px;
    text-align: center;
    -webkit-appearance: none;
    outline:none;
}
button{
    background-color: white;
    width: 100px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 10px;
}

/* .box-afterLog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    min-height: 100px;
    background-color: rgb(77, 75, 75);
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);

} */
.user-email,
.user-pass{
    margin-left: 5px;
}
.hidden{
    display: none;
}
.red {
    border: 3px solid red;
    -webkit-appearance: none;
    outline:none;

}

.information-wrong-email,
.information-wrong{
    color: red;
    font-weight: 500;
    margin-top: -25px;
    margin-bottom: 20px;
   
}

